<html>
    <title>Meter to Feet</title>
     <form method="POST">
        <label>Meter</label>
        <input type="text" name="textbox" value = {{user_text | safe}}><br>
        <label>Feet</label>
        <label>{{output | safe}} </label><br>
        <button type="submit" name="submit">Convert</button>
     </form>
</html>