h1{
    padding:20px;
    margin: 0px;
    
    font-size: xx-large;
    }
.myBox:hover{
    border:1px solid blue;
   

}
body{
    background-image: url("download1.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#mynav
{
    background-color: seagreen;
    color:black;
    height:60px;
    margin:10px 0;
}
#mynav ul{
    list-style:none;
    
}
#mynav ul li{
    float:left;
    padding:0px;

}
#mynav ul li a{
    margin-right: 5px;
    text-align:center;
    padding:20px;
    display:inline-block;
    position:relative;
    width:100px;
    background-color: #ddd;
    color:#000;
}
